@media (min-width:300px){  
    
    .tab{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: rgb(0, 0, 0);
        font-family: poppins;
        grid-template-columns: auto;
        max-width: 100%;


    }
    .categories,.liens,.langues,.ressources{
        display: flex;
        flex-grow: 1;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    
    }

    .categories{
        display: flex;
        color: white;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #674df3;      
        align-items: center;

    }

    .ressources{
        text-align: center;
        width: 30%;
    }

    .liens{
        text-align: center;
        width: 40%;
        
    }

    .langues{
        text-align: center;
        width: 30%;
    }
    .odd{
        background-color: #efefef;
        font-size: 15px;
       justify-items: end;
        
    }
    .even{
        background-color:rgb(247, 247, 249);
        font-size: 15px;
        justify-items: end;
    }

    a {
        color: black;
    text-decoration: none; 
    }

    a:hover{
        color:#674df3;
       
    }

    a:visited{
        color:#3c2d91;
    }

}

@media (min-width:1025px) {
    
    .tableau{
        display: flex;
        /*flex-direction: row;
        flex-wrap: wrap;*/
        color: rgb(0, 0, 0);
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
  
    }
    /*.categories,.liens,.langues,.ressources{
    flex-grow: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    }*/

    .categories{
        
        color: white;
        text-align: center;
        /*flex-wrap: wrap;*/
        font-size: 20px;
        background-color: #674df3;

    }

    .ressources{
        flex-direction: column;
        text-align: center;
        width: 25%;
        
    }

    .liens{
        width: 50%;
        
    }

    .langues{
        text-align: center;
        width: 25%;
        
    }
    .odd{
        background-color: #efefef;
        
    }
    .even{
        background-color: rgb(247, 247, 249);
    }

    a {
        color: black;
    text-decoration: none; 
    }

    a:hover{
        color:#674df3;
    }
    a:visited{
        color:#3c2d91;
    }
}